#ayudante.small-font {
   font-size: .75em !important;
   
}

#ayudante.normal-font {
	font-size: 1.5em !important;
   
}

#ayudante.large-font {
	font-size: 2em !important;
   
}

#ayudante.extra-large-font {
	font-size: 3em !important;
}

#ayudante.high-contrast {
	color: #ffff33 !important;
	background-color: #000000 !important;
}

#ayudante.high-contrast p{
	color: white !important;
	background-color: #000000 !important;
}

#ayudante.low-contrast {
	color: #003c87 !important;
	background-color: #aeebff !important;
}

.ayudante-menu  {
	
	position:fixed; 
	top:0px; 
	margin: 0; 
	padding: 0px;
	overflow: hidden;
	z-index:100000; 
	width:100%;
	background:lightgray; 
	height:25px; 
	opacity:0.8
	
} 

.ayudante-menu a {
	padding-left: 1.5em;
 }

